/*  your css code here. If applicable */
.grid-container{
display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px; /* Adjust the gap between grid items as needed */
    justify-content: center;
    align-items: center;
    padding: 20px;
	}
.grid-item{
	display:flex;
	background-color:lightgray;
	justify-content:center;
	align-items:center;
	height:150px;
	width:200px;
	border-radius:5px;
	font-size:40px;
}